{% extends "bases/base.html" %}
{% load static %}
{% block content %}

            <h2>New Question</h2>
            <div class="row" style="margin-top: 20px">
                <div class="col-2">
                    <h5>Title</h5>
                </div>
                <div class="col-10">
                    <label>
                        <input class="form-control" type="text" placeholder="Title"
                               style="width: 600px;margin-bottom: 5px; margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Text</h5>
                </div>
                <div class="col-10">
                    <label>
                        <textarea class="form-control" type="text" placeholder="Text"
                                  style="width: 600px;height: 400px;margin-bottom: 5px;margin-top: 5px;text-align: start"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Tags</h5>
                </div>
                <div class="col-10">
                    <label>
                        <input class="form-control" type="text" placeholder="Tags" style="width: 600px;margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="submit" class="btn btn-success">
                        ASK!
                    </button>
                </div>
            </div>
{% include "bases/paginator.html" %}
{% endblock %}
