{% extends "bases/base.html" %}
{% load static %}

{% block content %}
<div class="row">
        <div class="col-3">
            <h3>
                New questions
            </h3>
        </div>
        <div class="col-9">
            <h5>
                <a href="">Hot questions</a>
            </h5>

        </div>
    </div>
            <ul class="list-group">
                <li class="list-group-item"> <span class="question" style="padding: 10px; ">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="90px" width="90px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <h4>
                                <a href="question/1">
                                    How to build a moon park
                                </a>
                            </h4>
                        </div>
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum...
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h6>
                                    <a href="">answers(3)</a>
                                </h6>
                            </div>
                            <div class="col-1">
                                <h6>
                                    <p>Tags: </p>
                                </h6>
                            </div>
                            <div class="col-7">
                                    <ul style="padding: 1px;color: blue">
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#" style="">black-jack</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#">blender</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </span></li>
                <li class="list-group-item"><span class="question" style="padding: 10px; ">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="90px" width="90px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <h4>
                                <a href="question/2">
                                    How to build a moon park
                                </a>
                            </h4>
                        </div>
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum...
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h6>
                                    <a href="">answers(3)</a>
                                </h6>
                            </div>
                            <div class="col-1">
                                <h6>
                                    <p>Tags: </p>
                                </h6>
                            </div>
                            <div class="col-7">
                                    <ul style="padding: 1px;color: blue">
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#" style="">black-jack</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#">blender</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </span></li>
                <li class="list-group-item"><span class="question" style="padding: 10px; ">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="90px" width="90px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <h4>
                                <a href="question/3">
                                    How to build a moon park
                                </a>
                            </h4>
                        </div>
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum...
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h6>
                                    <a href="">answers(3)</a>
                                </h6>
                            </div>
                            <div class="col-1">
                                <h6>
                                    <p>Tags: </p>
                                </h6>
                            </div>
                            <div class="col-7">
                                    <ul style="padding: 1px;color: blue">
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#" style="">black-jack</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#">blender</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </span></li>
            </ul>

{% include "bases/paginator.html" %}
{% endblock %}