{% extends "bases/base.html" %}
{% load static %}
{% block content %}
            <div class="row">
                <h3>Log In</h3>
                <p class="visible" style="color: red">Sorry, wrong password</p>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-3">
                    <h5>Login</h5>
                </div>
                <div class="col-9">
                    <label>
                        <input class="form-control" type="text" placeholder="Login"
                               style="width: 600px;margin-bottom: 5px; margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-3">
                    <h5>Password</h5>
                </div>
                <div class="col-9">
                    <label>
                        <input class="form-control" type="password" placeholder="Password"
                               style="width: 600px;margin-bottom: 5px; margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-3">
                </div>
                <div class="col-9">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-3">
                    <h5></h5>
                </div>
                <div class="col-9">
                    <a href="">Create new account</a>
                </div>
            </div>
{% endblock %}
