{% extends "bases/base.html" %}
{% load static %}
{% block content %}
            <span class="question" style="padding: 10px; ">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="130px" width="130px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <h4>
                                <a href="">
                                    How to build a moon park
                                </a>
                            </h4>
                        </div>
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum.
                                </p>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h6>
                                    <a href="">answers(3)</a>
                                </h6>
                            </div>
                            <div class="col-1">
                                <h6>
                                    <p>Tags: </p>
                                </h6>
                            </div>
                            <div class="col-7">
                                    <ul style="padding: 1px;color: blue">
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#" style="">black-jack</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="page-link" href="#">blender</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </span>
            <ul class="list-group">
                <li class="list-group-item"> <span class="answer" style="padding: 10px; ">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="90px" width="90px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum...
                                </p>
                            </h6>
                        </div>

                        <div class="row">
                            <label>
                                    <input type="checkbox"> Correct!
                        </label>
                        </div>

                    </div>
                </div>
            </span></li>
                <li class="list-group-item"><span class="answer" style="padding: 10px; ">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="avatar">
                                <img src="/static/img/SNNej0W.png" height="90px" width="90px">
                            </div>
                        </div>
                                <div class="rating row" style="padding-top: 3px">
                                <div class="col-1" style="padding-right:5px">
                                    <h6>
                                        <p>
                                            5
                                        </p>
                                    </h6>
                                </div>
                                <div class="col-1" style="margin-right: 6px">
                                    <button type="button" class="btn btn-success">
                                    ↑
                                </button>
                                </div>
                                    <div class="col-1" style="margin-left: 6px">
                                    <button type="button" class="btn btn-danger">
                                     ↓
                                </button>
                                </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque libero vel nunc maximus suscipit. Aliquam pellentesque purus ut finibus dictum...
                                </p>
                            </h6>
                        </div>

                        <div class="row">
                            <label>
                                    <input type="checkbox"> Correct!
                        </label>
                        </div>

                    </div>
                </div>
            </span></li>
            </ul>
            <div class="row">
                <label>
                    <textarea class="form-control" type="text" placeholder="Text"
                              style="height: 100px;margin-bottom: 5px;margin-top: 5px;text-align: start"></textarea>
                </label>
                <div class="col-auto" style="margin-bottom: 5px;margin-top: 5px">
                    <button type="submit" class="btn btn-success">
                        Answer!
                    </button>
                </div>
            </div>
{% include "bases/paginator.html" %}
{% endblock %}