{% extends "bases/base.html" %}
{% load static %}
{% block content %}
            <div class="row" style="margin-top: 20px">
                <h3>Settings: username</h3>
                <div class="col-2">
                    <h5>Login</h5>
                </div>
                <div class="col-10">
                    <label>
                        <input class="form-control" type="text" placeholder="Login"
                               style="width: 600px;margin-bottom: 5px; margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Email</h5>
                </div>
                <div class="col-10">
                    <label>
                        <textarea class="form-control" type="text" placeholder="Email"
                                  style="width: 600px;margin-bottom: 5px;margin-top: 5px;text-align: start"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Nickname</h5>
                </div>
                <div class="col-10">
                    <label>
                        <input class="form-control" type="text" placeholder="Nickname" style="width: 600px;margin-top: 5px">
                    </label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-2">
                    <h5>Upload avatar</h5>
                </div>
                <div class="col-10">
                    <img src="/static/img/SNNej0W.png" alt="" >
                    <div  class="custom-file" >
                        <input type="file" class="input-group" id="customFile"    >
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                </div>
            </div>

{% endblock %}
